{% verbatim %}
<script type="text/ng-template" id="printCTR.html">
    <div class="modal-header">
        <h3 class="modal-title">Customer Transaction Record</h3>
    </div>
    <div class="modal-body print_ctr printable">
        <h4>{{ bank_message }}</h4>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" ng-href="{{ print_route }}" target="_blank">
            <i class="fa fa-print"></i>
            Imprimir
        </a>
        <button class="btn btn-danger" ng-click="cancel()">Salir</button>
    </div>
</script>
{% endverbatim %}