<!DOCTYPE html>
<html ng-app="firstdata">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}FirstData - Transactions Grid{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/vendor/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--<link rel="stylesheet" href="/css/vendor/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/css/vendor/watable.css">
    <link rel="stylesheet" href="/css/vendor/animate.min.css">
    <link rel="stylesheet" href="/css/vendor/datepicker.css">
    <link rel="stylesheet" href="/css/vendor/pnotify.custom.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body style="padding-top: 70px">
{% block body %}{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/js/vendor/jquery.watable.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/vendor/pnotify.custom.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular.js"></script>
    <script type="text/javascript"
            src="{{ asset('components/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
    <script type="text/javascript" src="/js/vendor/ui-bootstrap-0.11.0.min.js"></script>
    <script type="text/javascript" src="/js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="/js/vendor/ui-utils.min.js"></script>
    <script type="text/javascript" src="/js/vendor/numeral.min.js"></script>
    <script type="text/javascript" src="/js/vendor/lazy.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-spinner.min.js"></script>
    <script type="text/javascript" src="/js/vendor/moment.min.js"></script>
    <script type="text/javascript" src="/js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-moment.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-underscore.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
{% endblock %}

<script type="text/ng-template" id="splash.html">
    <section class="splash" ng-class="{'splash-open': animate}" ng-style="{'z-index': 1000, display: 'block'}"
             ng-click="close($event)">
        <div class="splash-inner">
            <div class="splash-content text-center">
                <p class="lead" ng-bind="message"></p>'
            </div>
        </div>
    </section>
</script>

<script type="text/ng-template" id="app.html">

    <div ng-controller="TransactionCtrl">
        <div class="panel panel-info" id="transactions" ng-controller="TransactionCtrl">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-database"></i> TRANSACCIONES</h3>
            </div>
            <div class="panel-body" id="table-info">
                <div class="table-header-info">
                    <div class="row">
                        <div class="col-md-1 bg-primary information">
                            <i class="fa fa-th"></i> Total: <span
                                    id="total-transactionss">{% verbatim %} {{ total }} {% endverbatim %}</span>
                        </div>
                        <div class="col-md-2 bg-primary information">
                            <i class="fa fa-th"></i> Amount: $<span
                                    id="total-amouts">{% verbatim %} {{ totalAmount }} {% endverbatim %}</span>
                        </div>

                        <div class="col-md-4 bg-primary information">
                            <form method="get" class="form-panel-body">
                        <span class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-date" datepicker-popup="dd/MM/yyyy"
                                       ng-model="search.from" is-open="datepickerFromOpened" max-date="maxDateFrom"
                                       ng-change="changeMin()"
                                       datepicker-append-to-body="true"
                                       placeholder="Desde..."/>

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="openDatepickerFrom($event)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </span>

                        <span class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-date" datepicker-popup="dd/MM/yyyy"
                                       is-open="datepickerToOpened"
                                       datepicker-append-to-body="true" min-date="minDateTo" ng-change="changeMax()"
                                       max-date="maxDateTo" placeholder="Hasta..."
                                       ng-model="search.to"/>

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="openDatepickerTo($event)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </span>

                                <button type="submit" class="btn btn-default" ng-disabled="isLoading"
                                        ng-click="search(search)">
                                    <i class="fa fa-search"></i> Buscar
                                </button>

                            </form>
                        </div>

                        <div class="col-md-5 bg-primary information">
                            {% if is_granted(expression("'ROLE_NEW_TRANSACTION' in roles or 'ROLE_PRE_AUTH' in roles or 'ROLE_REFUND' in roles or 'ROLE_EXPORT_CSV' in roles")) %}
                                <span class="pull-right action">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                {% if is_granted('ROLE_NEW_TRANSACTION') %}
                                    <button class="btn btn-default"
                                            ng-click="openForm('newTransaction', 'New Transaction')"
                                            ng-disabled="isLoading"><i
                                                class="fa fa-plus-square"></i> New transaction
                                    </button>
                                {% endif %}
                                {% if is_granted('ROLE_PRE_AUTH') %}
                                    <button class="btn btn-default" ng-click="openForm('preAuth', 'Pre-Authorization')"
                                            ng-disabled="isLoading"><i class="fa fa-key"></i>
                                        Pre-Auth
                                    </button>
                                {% endif %}
                                {% if is_granted('ROLE_REFUND') %}
                                    <button class="btn btn-default" ng-click="openForm('refund', 'Refund')"
                                            ng-disabled="isLoading"><i
                                                class="fa fa-mail-reply"></i>
                                        Refund
                                    </button>
                                {% endif %}
                            </div>
                            {% if is_granted('ROLE_EXPORT_CSV') %}
                                <div class="btn-group">
                                    <a class="btn btn-default" ng-click="exportCSV()" ng-disabled="isLoading">
                                        <i class="fa fa-file-text"></i>
                                        Export CSV
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <firstdata-grid total="total" total-amount="totalAmount " grid="grid"></firstdata-grid>
            </div>
        </div>
    </div>
</script>

</body>
</html>
