parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    database_crm_driver: pdo_mysql
    database_crm_host: 127.0.0.1
    database_crm_port: null
    database_crm_name: crm_winpax_finderit_local
    database_crm_user: root
    database_crm_password: echesortufc

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
