parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    database_crm_driver: pdo_mysql
    database_crm_host: 127.0.0.1
    database_crm_port: null
    database_crm_name: crm_winpax_finderit_local
    database_crm_user: root
    database_crm_password: echesortufc

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: tls
    mailer_port: 25
    mailer_from: info@911booking.com
    locale:            en

    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    #Parametros para ejecutar transacciones
    api_url: https://api.demo.globalgatewaye4.firstdata.com
    key_id: 131774
    hmac_key: FSwc7KeT6JFadZKRE1s6Pi6xAYQLVn84
    gateway_id: AE8689-05
    api_password: 8h5i7dud

    #Parametros para la busqueda de transacciones
    api_search_username: vherrero
    api_search_password: vherrero123

    #Parametros de path y dominio del crm
    crm_path: /home/fherrero/workspace/spiralti/sergio.workspace/crm.winpax.finderit.local/htdocs
    crm_domain: http://crm.winpax.finderit.local
