<script type="text/ng-template" id="newTransaction.html">
    <div class="modal-header">
        <h3 class="modal-title">New Transaction</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form" role="form">
            <div class="form-group" ng-class="{'has-success': form.cardholder_name.$valid, 'has-error': form.cardholder_name.$invalid, 'has-feedback': form.cardholder_name.$valid}">
                <label for="cardholdersname" class="control-label col-sm-4">CardHolders Name</label>

                <div class="col-sm-7">
                    <input ng-model="transaction.cardholder_name" name="cardholder_name" id="cardholdersname"
                           type="text" class="form-control" maxlength="30" required>
                    <span class="fa fa-check form-control-feedback" ng-show="form.cardholder_name.$valid"></span>
                    <span class="help-block">The customer’s name.</span>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success': form.cc_number.$valid, 'has-error': form.cc_number.$invalid, 'has-feedback': form.cc_number.$valid}">
                <label for="cardnumber" class="control-label col-sm-4">Card Number</label>

                <div class="col-sm-7">
                    <input ui-mask="9999 9999 9999 9999" ng-model="transaction.cc_number" id="cardnumber" type="text"
                           name="cc_number"
                           class="form-control" required>
                    <span class="fa fa-check form-control-feedback" ng-show="form.cc_number.$valid"></span>
                    <span class="help-block">The customer’s credit card number.</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success': form.amount.$valid, 'has-error': form.amount.$invalid, 'has-feedback': form.amount.$valid}">
                <label for="dollaramount" class="control-label col-sm-4">Dollar Amount</label>

                <div class="col-sm-7">
                    <input ng-model="transaction.amount" name="amount" id="dollaramount" type="text"
                           class="form-control" ng-pattern="/^[0-9]+$/" required>
                    <span class="fa fa-check form-control-feedback" ng-show="form.amount.$valid"></span>
                    <span class="help-block">For information on the highest dollar amounts allowed within GGe4, please <a target="_blank" href="https://firstdata.zendesk.com/entries/20730816-what-is-the-highest-transaction-amount-allowed-within-gge4">click here</a>.</span>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success': form.cc_expiry.$valid, 'has-error': form.cc_expiry.$invalid, 'has-feedback': form.cc_expiry.$valid}">
                <label for="expirydate" class="control-label col-sm-4">Expiry Date</label>

                <div class="col-sm-7">
                    <input type="text" ui-mask="99/99" class="form-control" ng-model="transaction.cc_expiry" name="cc_expiry" required>
                    <span class="fa fa-check form-control-feedback" ng-show="form.cc_expiry.$valid"></span>
                    <span class="help-block">The credit card expiry date in the format mmyy.</span>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-success': form.reference_no.$valid, 'has-error': form.reference_no.$invalid, 'has-feedback': form.reference_no.$valid}">
                <label for="reference_no" class="control-label col-sm-4">Ref. Number</label>

                <div class="col-sm-7">
                    <input type="text" maxlength="20" class="form-control" ng-model="transaction.reference_no" name="reference_no" required>
                    <span class="fa fa-check form-control-feedback" ng-show="form.reference_no.$valid"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid">
            <i class="fa fa-spinner fa-spin" ng-show="isLoading"></i>
            <i class="fa fa-check" ng-show="form.$valid"></i>
            Enviar datos
        </button>
        <button class="btn btn-danger" ng-click="cancel()" ng-disabled="isLoading">Cancelar</button>
    </div>
</script>