{% verbatim %}
<script type="text/ng-template" id="tagged.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ _config.label }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-inline" name="form" role="form">
            <div class="form-group"
                 ng-class="{'has-success': form.amount.$valid, 'has-error': form.amount.$invalid, 'has-feedback': form.amount.$valid}">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input ng-model="transaction.amount" name="amount" id="dollaramount" type="text" ng-change="checkLimitAmount(transaction.amount, maxAmount, form)"
                           class="form-control" placeholder="Formato: 10,000.00" ng-pattern="/^[0-9]+([,]?[0-9]{3})?([.]?[0-9]{2})?$/" required>
                    <span class="fa fa-check form-control-feedback" ng-show="form.amount.$valid"></span>
                </div>
                <span class="help-block">El importe no puede superar los {{ maxAmount }}</span>
                <span class="help-block" ng-show="form.amount.$error.max">El importe ingresado supera a {{ maxAmount }}</span>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid">
            <i class="fa fa-check" ng-show="form.$valid"></i>
            Enviar datos
        </button>
        <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    </div>
</script>
{% endverbatim %}