@media print {
    body * {
        visibility: hidden;
    }

    div.printable, div.printable > * {
        visibility: visible;
    }

    .col-md-12 {
        width: 100%;
        float: left;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }

    .col-md-3 {
        width: 25%;
        float: left;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }

    .col-md-2 {
        width: 16.6667%;
        float: left;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .label {
        border-radius: 0.25em;
        color: #fff;
        display: inline;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        padding: 0.2em 0.6em 0.3em;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
    }

    .label-default {
        background-color: #999;
    }

    .text-muted {
        color: #999;
    }

    p {
        margin: 0 0 10px;
    }
}

/*
.table-header-info span.information {
    padding: 20px;
    border-right: 1px solid;
}

*/
.watable.table {
    width: 100%;
}

.print_ctr {
    margin: 10px;
    border: 1px solid;
    padding: 10px;
}

#table-info {
    margin-top: -19px;
}

.table-header-info > .row > .information {
    min-height: 60px;
    border-right: 1px solid;
    padding: 20px 0 0 5px;
}

.table-header-info span.action {
    margin-top: -19px;
    padding: 12px;
}

.form-inline .form-control-date {
    width: 120px;
}

.form-panel-body {
    margin-top: -6px;
}

#back-button {
    right: 0;
    position: absolute;
    margin-bottom: 10px;
    top: 72px
}

.modal-header-confirm {
    background-color: #ffa940;
}