@media print {
    body * {
        visibility: hidden;
    }

    div.printable, div.printable > * {
        visibility: visible;
    }
}

#table-info.panel-body {
    min-height: 60px;
    padding: 20px 0 0 0;
}

.table-header-info > span.information {
    padding: 20px;
    border-right: 1px solid;
}
.table-header-info > span.action {
    margin-top: -19px;
    padding: 12px;
}
.watable.table {
    width: 100%;
}

.print_ctr {
    margin: 10px;
    border: 1px solid;
    padding: 10px;
}