<!DOCTYPE html>
<html lang="es" ng-app="firstdata">
<head>
    <title>{% block title '' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/watable/watable.css">
    <link rel="stylesheet" href="/vendor/animate.min.css">
    <link rel="stylesheet" href="/vendor/datepicker/css/datepicker.css">
    <link rel="stylesheet" href="/vendor/pnotify/pnotify.custom.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript" src="/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath}}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/watable/jquery.watable.js"></script>
    <script type="text/javascript" src="/vendor/datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/vendor/spin.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/pnotify/pnotify.custom.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/angular.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/ui-bootstrap-0.11.0.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/ui-utils.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/numeral.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/vendor/lazy.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

</head>
<body style="margin-top: 40px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

{% include "forms/forms.html" %}

</body>
</html>
