{% extends "::base.html.twig" %}

{% block body %}
    <header class="navbar navbar-fixed-top navbar-grey" role="navigation"
            style="background-image: -webkit-linear-gradient(top,#FFFFFF 0,#FFF 100%)">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="{{ app.request.basepath }}/img/firstdata-logo.png">
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">
                            {% if  logo %}
                                <img src="{{ logo }}" width="120" height="40"/>
                            {% endif %}
                            {{ app.security.token.user }}
                        </p>
                    </li>
                    <li>
                        <a href="{{ path('f_data_security_logout') }}"><i class="fa fa-sign-out"></i> Salir</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div ui-view></div>

    {% include "FDataTransactionsBundle:Default/Forms:forms.html.twig" %}
{% endblock %}
